In [1]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [2]:
con = psycopg2.connect(
 database="red_book",
 user="postgres",
 password="postgres",
 host="127.0.0.1",
 port="5432"
)

In [3]:
cur = con.cursor()
cur.execute('''create table if not exists countries (
    c_id integer PRIMARY KEY NOT NULL,
    c_name character varying,
    continent character varying,
    capital character varying);''')
print("Done!")

Done!

In [3]:
cur = con.cursor()

In [4]:
cur.execute('''create table if not exists plants (
    p_id integer PRIMARY KEY NOT NULL,
    p_name character varying,
    family character varying,
    section character varying);''')
print("Done!")

Done!

In [5]:
cur.execute('''create table plants_in_countries (
    country int,
    plant int,
    amount int,
    FOREIGN KEY (country)  REFERENCES countries (c_id),
    FOREIGN KEY (plant)  REFERENCES plants (p_id));''')
con.commit()
print("Done!")

Done!

In [6]:
def insert1countries(avav):
    cur.execute(f'''INSERT INTO countries (c_id, c_name, continent, capital)
        VALUES {avav};''')
insert1countries("(1, 'Россия', 'Евразия', 'Москва')")
con.commit()
print("Done!")

Done!

In [4]:
def insertallcountries(avav):
    cur.execute(f'''INSERT INTO countries (c_id, c_name, continent, capital)
        VALUES {avav};''')
insertallcountries("(2, 'Чехия', 'Евразия', 'Прага'), (3, 'Германия', 'Евразия', 'Берлин'), \
 (4, 'Польша', 'Евразия', 'Варшава'), (5, 'Франция', 'Евразия', 'Париж'),\
 (6, 'Австралия', 'Австралия', NULL), (7, 'Латвия', 'Евразия', 'Рига'),\
 (8, 'Канада', 'Северная Америка', 'Оттава'), (9, 'Мексика', 'Северная Америка', 'Мехико'),\
 (10, 'Нигерия', 'Африка', 'Абуджа')")
con.commit()
print("Done!")

Done!

In [7]:
def insert1plants(avav):
    cur.execute(f'''INSERT INTO plants (p_id, p_name, family, section)
        VALUES {avav};''')
insert1plants("(1, 'Мутинус собачий', 'Веселковые', 'Грибы')")
con.commit()
print("Done!")

Done!

In [5]:
def insertallplants(avav):
    cur.execute(f'''INSERT INTO plants (p_id, p_name, family, section)
        VALUES {avav};''')
insertallplants("(2, 'Рогатик пестиковый', 'Клавариевые', 'Грибы'), \
 (3, 'Пиррозия язычная', 'Многоножковые', 'Папаратниковидные'), \
 (4, 'Лепторумора Микеля', 'Аспидиевые', 'Папаратниковидные'), \
 (5, 'Марсилея щетинистая', 'Марсилеевые', 'Папаратниковидные'),\
 (6, 'Стереокаулон обнаженный', 'Стереокаулиевые', NULL), \
 (7, 'Асахинея Шоландера', 'Пармелиевые', 'Лишайники'), \
 (8, 'Кладония вулканная', 'Кладониевые', 'Лишайники'), \
 (9, 'Корниклярия степная', 'Уснеевые', 'Лишайники'), \
 (10, 'Телосхистес Желтоватьй', 'Телосхистовые', 'Лишайники')")
con.commit()
print("Done!")

Done!

In [6]:
def insert1plants_in_countries(avav):
    cur.execute(f'''INSERT INTO plants_in_countries (country, plant, amount)
        VALUES {avav};''')
insert1plants_in_countries("(1, 3, 300)")
con.commit()
print("Done!")

Done!

In [7]:
def insertallplants_in_countries(avav):
    cur.execute(f'''INSERT INTO plants_in_countries (country, plant, amount)
        VALUES {avav};''')
insert1plants_in_countries("(3, 1, 10), (4, 2, 500), (5, 2, 230), (5, 5, 100), \
 (9, 9, 56), (1, 6, 400), (6, 5, 100), (1, 2, 560), (5, 1, 20), (7, 7, 500), \
 (8, 9, 140), (9, 10, 56), (2, 5, 122), (3, 5, 166), (3, 4, 122), (4, 9, 200), \
 (5, 4, 20), (6, 1, 145), (7, 2, 546)")
con.commit()
print("Done!")

Done!