# Сибирев ПМ22-3 Вариант 1

### Задание 1

In [5]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 3.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [17]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [95]:
con = psycopg2.connect(
database="ProductsBD",
user="postgres",
password="postgres",
host="127.0.0.1",
port="5432"
)
print("Подключение установлено!")
cur = con.cursor()

Подключение установлено!

In [45]:
cur.execute('''create table if not exists stock (
    s_id integer PRIMARY KEY NOT NULL,
    adress VARCHAR(50),
    number INT,
    surname VARCHAR(50));''')
print("Таблица создана!")

Таблица создана!

In [46]:
cur.execute('''create table if not exists product (
    p_id integer PRIMARY KEY NOT NULL,
    name VARCHAR(50),
    groupn VARCHAR(50),
    firm VARCHAR(50));''')
print("Таблица создана!")

Таблица создана!

In [47]:
cur.execute('''create table if not exists product_available (
    stockn int,
    number_p int,
    amount int,
    FOREIGN KEY (stockn) REFERENCES stock (s_id),
    FOREIGN KEY (number_p) REFERENCES product (p_id));''')
con.commit()
print("Таблица создана!")

Таблица создана!

### Задание 2

In [88]:
def add_stock(word):
    cur.execute(f'''INSERT INTO stock (s_id, adress, number, surname) VALUES {word};''')
add_stock('''(1, 'Первомайская_1', 111111, 'Иванов'), (2, 'Московское_7', 222222, 'Сидоров'), (3, 'Касимовское_3', 111222, 'Петров'),
              (4, 'Куйбышевское_27', 334455, 'Ковалев'), (5, 'Шабулина_12', 121212, 'Маматов'), (6, 'Яюлочкова_11', 345678, 'Маматов'),
              (7, 'Циолковского_17', 778877, 'Сазонов'), (8, 'Павлова_28', 321321, NULL), (9, 'Новоселов_60', 223344, 'Лоськов'),
              (10, 'Забайкальская_14', 445544, 'Родин')''')
con.commit()
print("Значения добавлены!")

Значения добавлены!

In [ ]:
def add_1stock(word):
    cur.execute(f'''INSERT INTO stock (s_id, adress, number, surname) VALUES {word};''')
add_1stock("(1, 'Первомайская_1', 111111, 'Иванов')")
con.commit()
print("Значения добавлены!")

In [26]:
def add_product(word):
    cur.execute(f'''INSERT INTO product (p_id, name, groupn, firm) VALUES {word};''')
add_product('''(1, 'Колбаса', 'Продукты', 'Скопинский'), (2, 'Сыр', 'Продукты', 'Молкомбинат'), (3, 'Хлеб', 'Продукты', 'Хлебзавод 1'),
               (4, 'Телевизор', 'Техника', 'Sony'), (5, 'Стол', 'Мебель', 'IKEA'), (6, 'Автокресло', NULL, NULL), (7, 'Лопата', 'Хозтовары', 'Мехзавод'),
               (8, 'Мочалка', 'Хозтовары', 'Авангард'), (9, 'Мыло', 'Хозтовары', 'Свобода'), (10, 'Кастрюля', 'Хозтовары', 'Технопласт')''')
con.commit()
print("Значения добавлены!")

Значения добавлены!

In [27]:
def add_product_available(word):
    cur.execute(f'''INSERT INTO product_available (stockn, number_p, amount) VALUES {word};''')
add_product_available('''(1, 3, 5000), (1, 10, 400), (2, 4, 8000), (2, 7, 1000), (2, 8, 7000), (3, 3, 500), (3, 8, 9000),
                         (3, 9, 15000), (4, 1, 2500), (4, 8, 10000), (5, 2, 1000), (6, 9, 4500), (6, 3, 2000), (6, 5, 800),
                         (7, 7, 700), (7, 2, 9000), (8, 1, 3000), (9, 5, 1000), (9, 8, 5000), (9, 10, 500)''')
con.commit()
print("Значения добавлены!")

Значения добавлены!

### Задание 3

In [89]:
def select_all_from_bd(bd):
    cur.execute(f"SELECT * FROM {bd}")
    rows = cur.fetchall()
    return rows
select_all_from_bd('stock')

[(1, 'Первомайская_1', 111111, 'Иванов'),
 (2, 'Московское_7', 222222, 'Сидоров'),
 (3, 'Касимовское_3', 111222, 'Петров'),
 (4, 'Куйбышевское_27', 334455, 'Ковалев'),
 (5, 'Шабулина_12', 121212, 'Маматов'),
 (6, 'Яюлочкова_11', 345678, 'Маматов'),
 (7, 'Циолковского_17', 778877, 'Сазонов'),
 (8, 'Павлова_28', 321321, None),
 (9, 'Новоселов_60', 223344, 'Лоськов'),
 (10, 'Забайкальская_14', 445544, 'Родин')]

In [61]:
def select_row_by_if(bd, usl, chisl):
    cur.execute(f"SELECT * FROM {bd} WHERE {usl} = '{chisl}'")
    rows = cur.fetchall()
    return rows
select_row_by_if('product', 'firm', 'IKEA')

[(5, 'Стол', 'Мебель', 'IKEA')]

In [67]:
def select_combined_data(bd1, bd2, join1, join2, row1, row2, usl, chisl):
    cur.execute(f"SELECT {row1}, {row2} FROM {bd1} INNER JOIN {bd2} ON {join1} = {join2} WHERE {usl} = '{chisl}'")
    rows = cur.fetchall()
    return rows

select_combined_data('product', 'product_available', 'product.p_id', 'product_available.number_p', 'product.name', 
                     'product_available.amount', 'product.groupn', 'Продукты')

[('Хлеб', 5000),
 ('Хлеб', 500),
 ('Колбаса', 2500),
 ('Сыр', 1000),
 ('Хлеб', 2000),
 ('Сыр', 9000),
 ('Колбаса', 3000)]

### Задание 4

In [ ]:
def update_bd(bd, word, new_word, usl, chisl):
    cur.execute(f"UPDATE {bd} SET {word} = '{new_word}' WHERE {usl} = '{chisl}'")
    con.commit()
    rows = cur.fetchall()
    return rows
update_bd('stock', 'surname', 'Гавкин-Мяукин', 'number', 321321)

### Задание 5

In [86]:
def del_all(bd):
    foreign_key_tables = ['product_available']
    for table in foreign_key_tables:
        cur.execute(f"DELETE FROM {table} WHERE {table}.stockn IN (SELECT {bd}.s_id FROM {bd})")
    cur.execute(f"DELETE FROM {bd}")
    con.commit()

del_all('stock')

In [87]:
def select_all_from_bd(bd):
    cur.execute(f"SELECT * FROM {bd}")
    rows = cur.fetchall()
    return rows
select_all_from_bd('stock')

[]

In [96]:
def del_by_condition(bd, condition_column, condition_value):
    foreign_key_tables = ['product_available']

    for table in foreign_key_tables:
        cur.execute(f'''DELETE FROM {table} WHERE {table}.stockn IN (SELECT {bd}.s_id FROM {bd} 
                    WHERE {bd}.{condition_column} = '{condition_value}')''')

    cur.execute(f"DELETE FROM {bd} WHERE {condition_column} = '{condition_value}'")
    con.commit()

del_by_condition('stock', 'number', 111111)

In [97]:
def select_all_from_bd(bd):
    cur.execute(f"SELECT * FROM {bd}")
    rows = cur.fetchall()
    return rows
select_all_from_bd('stock')

[(2, 'Московское_7', 222222, 'Сидоров'),
 (3, 'Касимовское_3', 111222, 'Петров'),
 (4, 'Куйбышевское_27', 334455, 'Ковалев'),
 (5, 'Шабулина_12', 121212, 'Маматов'),
 (6, 'Яюлочкова_11', 345678, 'Маматов'),
 (7, 'Циолковского_17', 778877, 'Сазонов'),
 (8, 'Павлова_28', 321321, None),
 (9, 'Новоселов_60', 223344, 'Лоськов'),
 (10, 'Забайкальская_14', 445544, 'Родин')]